<header>
  <h1>The game is over!</h1>
  <h1><%= @message %></h1>
</header>

<h2>The code was:</h2>
<div class="row">
  <% @code.each do |color| %>
    <span class="color <%= color %>"></span>
  <% end %>
</div>

<h2>The board:</h2>
<% @board.each do |guess| %>
  <div class="row">
    <% guess[0].each do |color| %>
      <span class="color <%= color %>"></span>
    <% end %>
    <span class="hint">
      <% guess[1].each do |hint| %>
        <% if hint == "+" %>
          <%= "&squf;" %>
        <% elsif hint == "-" %>
          <%= "&EmptyVerySmallSquare;" %>
        <% end %>
      <% end %>
    </span>
  </div>
<% end %>

<a href="/">Play again!</a>
